      body {
        color: white;
        background-color: #323232;
        font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
        font-size: 18px;
      }
      
      h2 {
        text-align: center;
      }
      
      .header-image {
        display: block;
        margin-right: auto;
        margin-left:auto;
        width: 50%;
      }
      
      .content {
        margin-right: auto;
        margin-left:auto;
        width: 35%;
      }
      
      .download {
        text-align: center
      }
      
      .download-button {
        border: none;
        cursor: pointer;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        color: white;
        background-color: #505050
      }
